.promo-error-message {
    font-size: 0.75rem;
    font-weight: bolder;
    margin: 0 0 1rem 0.75rem;
    color: $color-red-a400;
}
.promocode {
    font-size: 0.75rem;
    span {
        color: $color-red-a400;
    }
}